site_name: OpenContracts
site_description: Open, Extensible Document Analytics Platform
site_author: John Scrudato IV
site_url: https://hatch.pypa.io/latest/
repo_name: JSv4/OpenContracts
repo_url: https://github.com/JSv4/OpenContracts
edit_uri: blob/master/docs
copyright: 'Copyright &copy; John Scrudato 2022-present'

docs_dir: docs
site_dir: site

theme:
  name: material
  custom_dir: docs/.overrides
  language: en
  favicon: assets/images/logos/favicon.ico
  logo: assets/images/logos/os_legal_128_inverted.png
  font:
    text: Roboto
    code: Roboto Mono
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
  features:
    - navigation.sections
    - navigation.expand
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.instant

nav:
  - Home:
    - About: index.md
    - Philosophy: philosophy.md
    - Quick-Start: quick-start.md
    - System Requirements: requirements.md
    - How It Works:
        - Architecture: architecture/components/Data-flow-diagram.md
        - Asynchronous Processing: architecture/asynchronous-processing.md
        - LlamaIndex & Django Integration: extract_and_retrieval/intro_to_django_annotation_vector_store.md
        - Datagrid Extract: extract_and_retrieval/document_data_extract.md
        - Automated Tests: architecture/opencontract-corpus-actions.md
        - Backend- Question Answering: extract_and_retrieval/querying_corpus.md
        - Backend - Datagrid Extract: extract_and_retrieval/document_data_extract.md
        - Annotator Component: architecture/components/annotator/overview.md
        - Annotator Logic: architecture/components/annotator/how-annotations-are-created.md
        - PDF Data Format: walkthrough/advanced/pawls-token-format.md
        - Automatic Corpus Actions: architecture/opencontract-corpus-actions.md
    - Acknowledgements: acknowledgements.md
  - Walkthrough:
      - Key-Concepts: walkthrough/key-concepts.md
      - Step 1 - Add Documents: walkthrough/step-1-add-documents.md
      - Step 2 - Create Labelset: walkthrough/step-2-create-labelset.md
      - Step 3 - Create Corpus: walkthrough/step-3-create-a-corpus.md
      - Step 4 - Create Some Annotations: walkthrough/step-4-create-text-annotations.md
      - Step 5 - Create Some Document Annotations: walkthrough/step-5-create-doc-type-annotations.md
      - Step 6 - Search and Filter By Annotations: walkthrough/step-6-search-and-filter-by-annotations.md
      - Step 7 - Query a Corpus: walkthrough/step-7-query-corpus.md
      - Step 8 - Data Extract: walkthrough/step-8-data-extract.md
      - Step 9 - Automatic Corpus Actions: walkthrough/step-9-corpus-actions.md
      - Advanced:
          - Data Extract Models: walkthrough/advanced/data-extract-models.md
          - Write Automated Corpus Actions: walkthrough/advanced/register-doc-analyzer.md
          - Write Your Own Llama Index Extractor: walkthrough/advanced/write-your-own-extractors.md
          - Configure How Annotations Are Displayed: walkthrough/advanced/configure-annotation-view.md
          - Run a Gremlin Analyzer: walkthrough/advanced/run-gremlin-analyzer.md
          - Fork a Corpus: walkthrough/advanced/fork-a-corpus.md
          - Import and Export Corpuses: walkthrough/advanced/export-import-corpuses.md
          - Generate GraphQL Schema Files: walkthrough/advanced/generate-graphql-schema-files.md
          - Testing LLM Calls: walkthrough/advanced/testing-llama-index-calls.md
  - Configuration:
      - Choose and Configure Docker Compose Stack: configuration/choose-and-configure-docker-stack.md
      - Configure Admin Users: configuration/configure-admin-users.md
      - Configure Authentication Backend: configuration/choose-an-authentication-backend.md
      - Configure Frontend: configuration/frontend-configuration.md
      - Add Users: configuration/add-users.md
      - Configure Storage Backend: configuration/choose-storage-backend.md
      - Configure Gremlin Analyzer: configuration/configure-gremlin.md
  - Development:
      - Dev Environment: development/environment.md
      - Test Suite: development/test-suite.md
      - Frontend Notes: development/frontend-notes.md
      - Documentation: development/documentation.md

plugins:
  # Built-in
  search: {}
  # Extra
  glightbox: {}
  minify:
    minify_html: true
  git-revision-date-localized:
    type: date
    # Required for blog plugin's generated indices
    fallback_to_build_date: true
  mike:
    alias_type: copy
  mkdocstrings:
    default_handler: python
    handlers:
      python:
        paths:
          - src
        options:
          # Headings
          show_root_heading: true
          show_root_full_path: false
          # Docstrings
          show_if_no_docstring: true
          # Signatures/annotations
          show_signature_annotations: true
          # Other
          show_bases: false

markdown_extensions:
  # Built-in
  - markdown.extensions.abbr:
  - markdown.extensions.admonition:
  - markdown.extensions.attr_list:
  - markdown.extensions.footnotes:
  - markdown.extensions.meta:
  - markdown.extensions.tables:
  - markdown.extensions.toc:
      permalink: true
  # Extra
  - mkdocs-click:
  - pymdownx.arithmatex:
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret:
  - pymdownx.critic:
  - pymdownx.details:
  - pymdownx.highlight:
      guess_lang: false
      linenums_style: pymdownx-inline
      use_pygments: true
  - pymdownx.inlinehilite:
  - pymdownx.keys:
  - pymdownx.magiclink:
      repo_url_shortener: true
      repo_url_shorthand: true
      social_url_shortener: true
      social_url_shorthand: true
      normalize_issue_symbols: true
      provider: github
      user: pypa
      repo: hatch
  - pymdownx.mark:
  - pymdownx.progressbar:
  - pymdownx.saneheaders:
  - pymdownx.smartsymbols:
  - pymdownx.superfences:
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde:

extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/ofek
    - icon: fontawesome/solid/blog
      link: https://ofek.dev/words/
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/Ofekmeister
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/ofeklev/
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.

extra_css:
  - assets/css/custom.css
  - https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css
